.container_chessboard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_chessboard_chessgame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container_chessboard .chessgame_normal {
    display: block;
}

.container_chessboard .chessgame_blind{
    display: none;
}

.container_chessboard .pieces_location{
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    gap: 2px;

    max-width: 280px;
    visibility: visible;
    margin-bottom: calc(40px + 63px);
}

.container_chessboard .pieces_location.off{
    visibility: hidden;
}

.chessgame_history{
    color: #FFFFFF;
    font-size: 20px;
    margin: 20px;
    max-width: 280px;
}

.chessgame_result_success{
    height: 32px;

    background-color: #dff2bf;
    color: #315e46;

    font-size: 24px;

    margin: 28px;
    max-width: 280px;
    padding: 12px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    border-radius: 4px;
}

.chessgame_result_failed{
    height: 32px;

    background-color: #ffbaba;
    color: #d8000c;

    font-size: 24px;

    margin: 28px;
    max-width: 280px;
    padding: 12px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    border-radius: 4px;
}

.chessgame_enemy_move{
    height: 32px;

    background-color: #bde5f8;
    color: #0052a7;

    font-size: 18px;

    margin: 28px;
    max-width: 280px;
    padding: 12px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    border-radius: 4px;
}

.container_chessboard .piece_location{
    background-color: #42403a;

    display: flex;
    justify-content: center;

    align-items: center;
    border-radius: 8px;
    padding: 0px 8px;

    margin: 4px;
}

.container_chessboard .piece_location p{
    margin: 8px;
    font-size: 20px;
    color: #fff;
}

.btn_display_pieces {
    background-color: transparent;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 12px;

    padding: 8px 16px;
    cursor: pointer;
    margin: 20px;
}

.btn_display_pieces .img_eye{
    width: 40px;
    height: 40px;
}

.btn_display_pieces .img_eye_off{
    display: none;
}

.img_no_piece{
    width: 70px;
    height: 70px;
}